# Build directories
build/
*/build/
**/build/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Compiled Object files
*.o
*.obj
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
*.la

# Executables
*.exe
*.out
*.app

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.vs/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

*.code-workspace
doc_ext/
.python-version

raylib-my/tmp/
